<div class="d-inline-block mb-5">
  <h4>Server configuration details:</h4>
  <table class="table table-responsive">
    <tr>
      <td>Client ID</td>
      <td><code>demo-client-id-4aGl</code></td>
    </tr>
    <tr>
      <td>Client Secret</td>
      <td><code>demo-client-secret-FR5v</code></td>
    </tr>
    <tr>
      <td>Authorization endpoint (GET)</td>
      <td><code>{{host}}/authorization</code></td>
    </tr>
    <tr>
      <td>Token endpoint (POST)</td>
      <td><code>{{host}}/oauth/token</code></td>
    </tr>
  </table>
</div>

<h4><code>/user-info</code> endpoint response:</h4>
<pre><code>
POST: {{host}}/user-info

{
  "id": 987,
  "name": "Sample Name",
  "email": "sample.email@example.com",
}
</code></pre>